/* AZUL CLARO : E1EAF2; */
/* AZUL MEDIO : A6C0D9; */
/* AZUL ESCURO : 326C99; */

/* ************************* DIV  */
div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-production-book{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;
}

div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-production-book-chapter{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;
}

div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-other-production{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;
}

div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-production-in-event{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;	
}

div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-technical-production{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;	
}
