/* AZUL CLARO : E1EAF2; */
/* AZUL MEDIO : A6C0D9; */
/* AZUL ESCURO : 326C99; */

/* ************************* DIV  */
div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-master-board{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;
}

div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-quali-board{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;
}

div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-expertise-board{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;
}

div.lt-container-year-academic-content div.lt-container-year-academic-node-content div.lt-container-graduation-board{
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;

	border-bottom: 1px solid #E8E8E8;
}
